<div class="actions">
    <button mat-raised-button color="primary" (click)="addProduct()">Agregar Producto</button>
  </div>
  
  <table mat-table [dataSource]="products" class="mat-elevation-z8">
  
    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.productId}}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>
  
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Imagen</th>
      <td mat-cell *matCellDef="let element"><img [src]="element.image" width="50"></td>
    </ng-container>
  
    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef>Categorías</th>
      <td mat-cell *matCellDef="let element">
        {{ getCategoryNames(element) }}
      </td> 
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="editProduct(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteProduct(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  